d-title {
    display: none;
  }

body {
    background-image: url('large_eyed_bronzeback_1.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}