/* This css file was originally created by Kaija Gham */
/* you can visit the following link to get the raw data */
/* https://github.com/kaijagahm/kaija_bean *?

/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

d-article p {
  text-align: justify;
}

html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.2rem;
  --code-size:       1.2rem;  /* code chunk font size */
  --aside-size:      12px;  /* font size for text outisde the margin, ie in the sides of the document */
  --fig-cap-size:    13px;  /* figure caption font size */
  /*-- Main font colors --*/
  --title-color:     #150927; /*-- Dark blue --*/
  --header-color:    #150927; /*-- Dark blue --*/
  --body-color:      #000000; /*-- Black --*/
  --aside-color:     #150927; /*-- Dark blue --*/
  --fig-cap-color:   #150927; /*-- Dark blue --*/
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Lato", serif;
  --mono-font:       "Source Code Pro", monospace;
  --body-font:       "Lato", sans-serif;
  --navbar-font:     "Lato", sans-serif;
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   #150927; /*-- Dark blue --*/
  --body-size:       0.8rem;
  --body-color:      #000000; /*-- Black --*/
}

/* Postcard main text */
div#content p {
color: #000000; /*-- Black --*/
text-align: justify;
font-size: 19.2px;
}

/* Postcard list items */
.list-inline-item {
color: #150927; /*-- Dark blue --*/
}

/* Postcard headers */
h1, h2 {
  color: #150927; /*-- Dark blue --*/
}

/* Postcard links */
#content a {
  color: #EA660C; /*-- orange --*/
}

/* mouse over link */
#content a:hover {
  color: #DC6513; /*-- light orange --*/
}

/* selected link */
#content a:active {
  color: #DC6513; /*-- light orange --*/
}

/* visited link */
#content a:visited {
  color: #DC6513; /*-- light orange --*/
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --heading-color:   #000000; /*-- Black --*/
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   #150927; /*-- Dark blue --*/
  --text-size:       0.8em;
  --text-color:      #000000; /*-- black --*/
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       18px;
  --text-color:       #FFFFFF; /* White, same color as background */
  --text-size:        15px;
  --hover-color:      #DC1D4F; /* Light magenta */
  --bkgd-color:       #301e64; /* purple */
}

.distill-site-footer {
  --text-color:       #FFFFFF; /* White, same color as background */
  --text-size:        15px;
  --hover-color:      #DC1D4F; /* Light magenta */
  --bkgd-color:       #301e64; /* purple */
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */
/* Change bullets */
ul > li::marker {
  font-size: 1.125em;
  color: #64142c; /*-- Dark magenta --*/
}

/* Change link appearance */
d-article a {
  color: #EA660C; /*-- orange --*/
}

/* Non-postcard links */
d-article a{
  border-bottom: 0px;
  color: #EA660C; /*-- orange --*/
}

/* mouse over link */
d-article a:hover {
  color: #DC6513; /*-- light orange --*/
}

/* selected link */
d-article a:active {
  color: #DC6513; /*-- light orange --*/
}

/* visited link */
d-article a:visited {
  color: #DC6513; /*-- light orange --*/
}

/* Post descriptions */
d-article p {
  color: #2b2212; /*-- Dark brown --*/
}

/* post list date font size */
.posts-list .metadata {
    font-size: 16px;
    line-height: 1.4em;
    font-weight: bold;
}

/* post list subtitle text size */
.posts-list .post-preview p {
    margin: 0 0 12px 0;
    line-height: 1.5em;
    font-size: 20px;
}

html a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    color: #EA660C;
    transition: background-size .3s;
}

html a:hover, html a:focus {
  background-size: 100% 2px;
}

a:hover {
    text-decoration: none;
}
